@import url(/src/fonts.css);
@import url(/src/wtf-forms.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe Fluent Icons';
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    padding: 15px;
    background: #f5f5f5;
    /*    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);*/
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body::before,
body::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

div#root {
    height: 100%;
    width: 100%;
    background: transparent;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#main {
    height: 100%;
    width: 100%;
    background: transparent;
    margin: auto;
    position: relative;
    display: none;
}

div#splash-screen {
    display: block;
}

div.loaderImg {
    margin-bottom: 100px;
    height: 256px;
    width: 256px;
}

div.loaderImg img {
    height: 256px;
    width: 256px;
}

span.loader {
    display: block;
    position: relative;
    height: 5px;
    width: 100%;
    background: #00000050;
    border-radius: 10px;
    overflow: hidden;
}

span.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #00000065;
    border-radius: 10px;
    animation: 3s prog ease-in infinite;
}

@keyframes prog {
    to {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 17px;
    display: block;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    display: block;
    background: #3b3b3b50;
    background-clip: padding-box;
    border-width: 20px 7px 20px 7px;
    border-style: solid;
    border-color: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

titleBar {
    top: 0;
    height: 32px;
    width: 100%;
    position: fixed;
    -webkit-app-region: drag;
}

div#settings {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
}

div.seetingsComponent {
    width: 1200px;
    height: 800px;
}

div.seetingsComponent div.closeSettingsBtn {
    text-align: right;
    font-size: 40px;
    position: relative;
    top: 24px;
    height: 0px;
    line-height: 0;
    right: 20px;
}

div.seetingsComponent div.closeSettingsBtn:hover {
    color: #ff0000;
}

header {
    width: 100%;
    height: auto;
    margin: auto;
}

section {
    width: 85.5%;
    height: 85.5%;
    display: flex;
    aspect-ratio: 16 / 9;
    margin: auto;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: auto;
    margin: auto;
    bottom: 7.5px;
    position: absolute;
}

span.exitFullScreen {
    display: none !important;
}

nav {
    position: absolute;
    top: 20px;
    right: 0;
    width: 80px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

nav .navigationButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.navigationButtons .navigationToggleButtons,
.navigationButtons > span > span {
    transform: rotate(45deg);
    height: 40px;
    width: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.navigationButtons .navigationToggleButtons {
    color: #0e2431;
    z-index: 100;
    cursor: pointer;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1px !important;
}

.navigationButtons > span {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.open .navigationButtons > span {
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(120px);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationButtons span > span {
    text-decoration: none;
}

.navigationButtons span > span div {
    color: #0e2431;
    transform: rotate(calc(var(--i) * (360deg/ -8)));
    transition: 0.2s;
    line-height: 1px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-custom-open {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.fileInput {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

model-viewer {
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
}

/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 15%;
    height: 100%;
}

/* Style the buttons that are used to open the tab content */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
div.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 85%;
    border-left: none;
    height: 100%;
    background: white;
}

div.seetingsComponent div.tabcontent div.about {
    display: flex;
    min-height: 40px;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
}

div.seetingsComponent div.tabcontent img.appLogo {
    width: 150px;
    height: 150px;
}

div.seetingsComponent div.tabcontent div.aboutContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-inline-start: 30px;
}

div.seetingsComponent div.tabcontent span.appName {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
}

div.seetingsComponent div.tabcontent span.appVer {
    display: flex;
    padding-top: 4px;
    flex-direction: row;
    font-size: 24px;
    line-height: 28px;
    color: #9D9D9D;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: linear-gradient(270deg, red, yellow, lightgreen);
    border-radius: 10px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #888;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #888;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: linear-gradient(270deg, red, yellow, lightgreen);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: linear-gradient(270deg, red, yellow, lightgreen);
    border-radius: 10px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #888;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #888;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-radius: 10px;
    color: transparent;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #888;
    cursor: pointer;
}

h1,
h5 {
    color: #363636;
    font-weight: 600;
    line-height: 1.125;
    font-size: 2em;
    text-rendering: optimizeLegibility;
}

h5 {
    font-size: 14px;
    font-weight: 500 !important;
}

hr {
    background-color: #bfbfbf;
    border: none;
    display: block;
    height: 2px;
    margin: 22.5px 5rem;
}

a {
    color: #000000;
}